.content-left {
    padding: 20px;
}

.header {
    padding: 20px;    
}

.profile-image-container {
    background: #96F0F2;
    width: auto;
    height: 150px;
    margin-bottom: 20px;
}

.profile-links-container {
    background: #12F3F7;
    width: auto;
    height: 380px;
}

.logo-container {
    background: #4F4949;
    float: left;
    height: 60px;
    width: 450px;
}

.menu-container {
    background: #4F4949;
    float: right;
    height: 60px;
    width: 50px;
}



